@import "node_modules/govuk-frontend/settings/all";
$govuk-global-styles: true;

// Override the govuk-frontend font stack
$govuk-font-family: "Roboto", Arial , Helvetica , sans-serif; //was "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Remove canvas background colour, as is used with the GOV.UK Footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "node_modules/govuk-frontend/all";

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/docs/examples/blank-unbranded

//import the fonts SE website is using
@import "https://fonts.googleapis.com/css?family=Roboto|Poppins:300,400,500,600,700";
$se-logo-blue: #1B3C7B;
$se-logo-green: #4FAD46;
$se-breadcrumb: #3a817e;
$se-footer-background: #EAEAEA;
$se-text-dark-grey: #666;
$se-heading-darker-grey: #333;
//---------------------------------------- HEADER ------------------------------------------------//

// changes in the CSS of the header to the default one
.govuk-header {
    background: govuk-colour("white");
  }

.govuk-header__logo {
    @include govuk-responsive-margin(2, "bottom");
    padding-right: govuk-spacing(8);

    @include mq ($from: tablet) { // was desktop
      width: 50%; // was 33.33%
    }
  }

  .govuk-header__content {
    margin-bottom: 20px; // to prevent the label "This is a prototype" to be in contact with the breadcrumbs on smaller screen when it wraps
    @include mq ($from: tablet) { // was desktop
      width: 50%; // was 66.66%
    }
  }

  .govuk-header__container {
    border-bottom: 0px;
  }
// extra customisation
.se-service-name {
    font-size: 28px;
    color: white; 
    background-color: $se-logo-green;
    padding: 2px 20px;
    font-weight: 600;
}

#logo-se:focus{
    background-color: 	#fff; // was putting a thick yellow layer at the bottom of the logo
}

//---------------------------------------- FOOTER ------------------------------------------------//

// changes in the CSS of the footer to the default one

$govuk-footer-background:  #EAEAEA; // was $govuk-canvas-background-colour;
$govuk-footer-border-top:  white ; // was  #a1acb2;
$govuk-footer-border: #EAEAEA ; // was govuk-colour("grey-2");
$govuk-footer-text: #666; // was #454a4c;
$govuk-footer-link: #666; // was $govuk-footer-text;
$govuk-footer-link-hover: #171819;

.govuk-footer {
    border-top: 1px solid white;
    color: #666;
    background: #EAEAEA;
  }

  .govuk-footer__link {
    &:link,
    &:visited {
      color:  #666;
      text-decoration: none;
      font-size: 14px;
    }

    &:hover,
    &:active {
      color: #171819;
      text-decoration: underline;
    }
  }

  .govuk-footer__heading {
    @include govuk-responsive-margin(2, "bottom");
    font-size: 14px;
    color: #333;
    padding-bottom: govuk-spacing(2);
    margin-right: govuk-spacing(5);
    @include mq ($until: tablet) {
      padding-bottom: govuk-spacing(2);
    }
    border-bottom: 1px solid  #EAEAEA ;
  }

// ---------------------------------------- BODY ------------------------------------------------//

.govuk-template {
    background-color: $se-footer-background; // to unify the background colour of the footer even if the page is "too short" ) (was white below otherwise
}
.se-breadcrumb {
    background-color: $se-breadcrumb;
    padding: 10px; //for smaller screens
    @include mq ($from: desktop) { //for bigger screens
        padding: 10px 100px;
     } 
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    a , a:link , a:active {
        color: white;
        text-decoration : none;
    }
    a:visited, a:hover {
        color: white;
        text-decoration : underline
    }
}

.heroh1blue {
    background-color: #00427f;
    color: white;
    font-family: "Poppins", Arial, Helvetica, sans-serif;;
    font-size: 32px;
    padding: 48px 0;
    text-align: center;
    font-weight: 400;
    line-height: 50px
}

.heroh1grey {
    background-color:#EAEAEA;
    color: #333;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 32px;
    padding: 48px 0;
    text-align: center;
    font-weight: 500;
    line-height: 50px

}

.heropblue {
    background-color: #00427f;
    color: white;
    font-family: "Poppins", Arial, Helvetica, sans-serif;;
    font-size: 18px;
    padding-bottom: 48px;
    text-align: center;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    @include mq ($from: desktop) {
        padding-left: 200px;
        padding-right: 200px;
    }
    @include mq ($from: tablet) {
        padding-left: 100px;
        padding-right: 100px;
    }

}

.se {
    h2 {
        color: #333;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 500;
    }
    h3 {
        color: #333;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
    }
    p, ul, li {
        color: #666;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased ; // seems to be needed otherwise p elements look thinner than list li
    }

    ul {
        line-height: 19.796px;
        list-style-position: inside;
    }

    li {
        margin-bottom: 16px;
        //line-height: 19.796px;
        list-style-position: outside;
        list-style-type: disc;

    }
    a {
        color: #09759d;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-decoration : none;
    }
    a:visited, a:hover {
        color: #00427f;
        text-decoration : underline
    }
}

.button-se, a.button-se, a.button-se:active{
    font-weight: 600;
    box-shadow: 0 2px 0 white;
    font-size: 18px;
    border: 2px solid #09759d;
}

.button-se , .button-se:focus,  a.button-se:focus, a.button-se:visited{
    background-color: #09759d;
    color: white ;
}

.button-se:hover,  a.button-se:hover {
    background-color: white; 
    color: #09759d;
    text-decoration: none;
}
a.button-se-secondary,  a.button-se-secondary:visited {
    color:  #333;
    background-color: white;
    border: solid 2px  #333;
    padding: 7px 12px;
    text-transform: uppercase;
    font-size: 14px;
    
}
a.button-se-secondary:hover, a.button-se-secondary:focus {
    background-color: #333;
    color: white;
   
    text-decoration: none;
    
}

.card {
    background: #fff;
    border: solid 1px #eaeaea;
    border-radius: 4px;
    padding: 24px 10px 0 10px;
    text-align: center;
    margin: 7px;
    width: 97%;
    @include mq ($from: tablet) {
        width: 47%;
        }
}
.card:hover {
    border-color: #09759d;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

//---------------------------------------- HELPERS ------------------------------------------------//

img.se {
    vertical-align: top;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //width: 50%;
  }