
{% extends "layout_se.html" %} <!-- to use a specific branded SE layout-->

{% block pageTitle %}
  SOSE Prototype
{% endblock %}

{% block postHeader %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        South of Scotland Enterprise Prototype

        <span class="govuk-caption-xl">Based on GOV.UK Prototype Kit - {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <p style="color: #b10e1e">To come back here at any time, click/tap: on the logo on the top left</p>
 

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="border-top: 1px solid #3a817e">

      <h2 class="govuk-heading-m se govuk-!-margin-top-4">
        This is a prototype
      </h2>
      <ul class="govuk-list govuk-list--bullet se">
        <li>this is not how the future website will look</li>
        <li>we are not testing you, but the website</li>
        <li>you can do nothing wrong</li>
        <li>Thank you for your help</li>
      </ul>

      {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Let's start",
          classes: "govuk-!-margin-bottom-9 , govuk-!-margin-top-9 , button-se",
          href: "/home.html"
        }) }}


     <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="border-top: 1px solid #3a817e">

      <h2 class="govuk-heading-m se">Examples and documentation for the prototype</h2>

      <ul class="govuk-list govuk-list--bullet se">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
