
{% extends "layout_se.html" %} <!-- to use a specific branded SE layout-->

{% block pageTitle %}
  SE Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Scottish Enterprise Prototype

        <span class="govuk-caption-xl">Based on GOV.UK Prototype Kit - {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <h2 class="govuk-heading-m se">
        Changes done:
      </h2>
      <ul class="govuk-list govuk-list--bullet se">
        <li>add the favicon in the images, and use it in a copy of the special layout for SE</li>
        <li>add some code to customise the header and the footer in the layout, and some CSS in se.scss</li>
      </ul>

     

      <h2 class="govuk-heading-m se">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet se">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
