{% extends "template.njk" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/se.ico?0.18.3" type="image/x-icon" /> <!-- this is where I change the code to use a SE favicon -->
  <!--link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c"-->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
<!-- add my own stylesheet -->
  <link href="/public/stylesheets/sose.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<!-- cookies not included here // but header code added, also see node_modules/govuk-frontend/components/header for the Scss and the template.njk-->
<!-- added code below for branded header -->
<header class="govuk-header" role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
        <a href="/index.html" id="logo-se"><image src="{{ asset_path }}/images/logoSOSE.png" alt="South of Scotland Logo" width="202" height="100"></image></a>
      </span>
    </div>

    <div class="govuk-header__content">
    <span class="se-service-name">
      This is a prototype 
    </span>
  <!-- the code below is in case we had navigation links in the header - not used just now -->
    {% if params.navigation %}
    <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation {{ params.navigationClasses if params.navigationClasses }}" aria-label="Top Level Navigation">
        {% for item in params.navigation %}
          {% if item.href and item.text %}
            <li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if item.active }}">
              <a class="govuk-header__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                {{ item.text }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
    </div>
  </div>
</header>
{% endblock %}

{% block footer %}
<!-- added code below for branded footer -->
<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container">
      <div class="govuk-footer__section">
        <h2 class="govuk-footer__heading">GET IN TOUCH</h2>
        <ul class="govuk-footer__list ">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/contact-us.html">
              Contact us
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
              Complaints
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
              FOI
            </a>
          </li>
        </ul>
      </div>

      <div class="govuk-footer__section">
        <h2 class="govuk-footer__heading">WHO WE ARE</h2>
        <ul class="govuk-footer__list ">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
              Our organisation
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
              Our Board
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
              Missions and targets
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
             Performance information
            </a>
          </li>
        </ul>
      </div>

      <div class="govuk-footer__section">
        <h2 class="govuk-footer__heading">ABOUT OUR REGION</h2>
        <ul class="govuk-footer__list ">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
              Regional projects and initiatives
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
              Community Support
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
              Business support
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
              Events
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
              Case studies
            </a>
          </li>
        </ul>
      </div>

      <div class="govuk-footer__section">
        <h2 class="govuk-footer__heading">WORK FOR US</h2>
        <ul class="govuk-footer__list ">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
              Current vacancies
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/not-ready.html">
              How our job application process works
            </a>
          </li>
        </ul>
      </div>


<br><br><br>

      <div class="govuk-footer__meta class="se-footer"">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/a11y.html">Accessibility</a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/cookies.html">Cookie policy</a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/privacy.html">Privacy notice</a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/terms.html">Terms of use</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-footer__section">
        <span><a class="govuk-footer__link ft-right" href="/prototype-admin/clear-data" style="color : #3F2A56; font-weight: 600 ;">Clear prototype data</a></span>
      </div>
  </div>
</footer>
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
